@media screen and (min-width: 1025px) {
  .cabecalho {
    box-sizing: border-box;
    width: 100%;
    height: 115px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo__img {
    width: 176px;
    height: 50px;
  }

  .btn__tablet__search {
    border: none;
    color: var(--gray);
    background: transparent;
  }

  .search__btn {
    display: none;
    font-size: 24px;
  }

  .btn.light__btn {
    width: 182px;
    height: 51px;
  }

  .btn.blue__btn {
    height: px;
  }

  .serching__container {
    width: 393px;
    height: 40px;
    background-color: var(--lightgray);
    color: var(--gray);
    padding: 8px, 16px, 8px, 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .searching__field {
    background: transparent;
    border: none;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    align-items: center;
  }

  .container__hero {
    display: flex;
    justify-content: flex-end;
    color: var(--withe);
    box-sizing: border-box;
    width: 100%;
    height: 352px;
    padding: 32px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../public/imgs/banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    width: 1136px;
    margin: auto auto 0 auto;
    line-height: 0;
    gap: 16px;
    height: 170px;
  }

  .text__hero .blue__btn {
    width: 119px;
    font-weight: var(--mediumfontweight);
  }

  .title__hero {
    margin: 0;
    font-size: var(--xlargefontsize);
  }

  .subtitle__hero {
    font-size: var(--mediumfontsize);
    font-weight: var(--mediumfontweight);
  }

  .products {
    display: contents;
    height: 360px;
  }

  .products__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    width: 1136px;
    margin: auto;
  }

  .text__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linha__title {
    color: var(--black);
    font-size: var(--largefontsize);
  }

  .link__product {
    margin-inline: 5px;
    align-items: center;
    text-decoration: none;
    font-weight: var(--largefontweight);
    color: var(--blue);
  }

  .text__product {
    margin-bottom: 16px;
  }

  .product__container {
    display: grid;
    justify-content: space-between;
    width: 1136px;
    height: 306px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .product__img {
    width: 176px;
    height: 174px;
  }

  .product__name {
    font-size: var(--smallfontsize);
  }

  .product__price {
    font-size: var(--normalfontsize);
    color: var(--black);
    font-weight: var(--largefontweight);
  }

  .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 368px;
    background-color: var(--lightblue);
  }

  .about__container {
    display: flex;
    width: 1136px;
    margin: auto;
    align-items: baseline;
  }

  .about__nav__container {
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: space-around;
  }

  .about__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
  }

  .about__links a {
    text-decoration: none;
    color: var(--black);
    line-height: 19px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 16px;
    width: 560px;
    height: 300px;
    margin: auto;
    text-align: start;
  }

  input {
    height: 56px;
  }

  textarea {
    height: 82px;
  }

  .p__rodape {
    font-size: var(--normalfontsize);
  }

  .login__page__container {
    display: flex;
    height: 600px;
    background-color: var(--lightgray);
  }

  .form__input {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 423px;
    height: 500px;
    margin: auto;
    gap: 16px;
  }

  .login__title {
    font-size: var(--xnormalfontsize);
  }

  .input__email__login {
    background-color: var(--withe);
  }

  .input__password__login {
    background-color: var(--withe);
  }

  .btn.blue__btn.login__btn {
    width: 100%;
    height: 62px;
    font-size: var(--xnormalfontsize);
  }

  .new__file__product {
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--withe);
  }
}
