/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Fonts */
  --fontfamilydefault: "Raleway", sans-serif;

  /* Font-size */
  --smallfontsize: 14px;
  --normalfontsize: 16px;
  --xnormalfontsize: 18px;
  --mediumfontsize: 22px;
  --largefontsize: 32px;
  --xlargefontsize: 52px;

  /* Font-weigh */
  --lightfontweight: 400;
  --mediumfontweight: 600;
  --largefontweight: 700;

  /* Colors */
  --black: #464646;
  --gray: #a2a2a2;
  --blue: #2a7ae4;
  --lightgray: #f5f5f5;
  --lightblue: #eaf2fd;
  --withe: #ffffff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontfamilydefault);
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

::placeholder {
  font-family: var(--fontfamilydefault);
  color: var(--gray);
  padding: 10px;
}

textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid var(--lightgray);
}

input {
  border: none;
  border-bottom: 1px solid var(--lightgray);
  padding-inline: 15px;
  &:focus {
    outline: none;
  }
}

a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.btn {
  justify-content: center;
  font-family: var(--fontfamilydefault);
  font-weight: var(--mediumfontweight);
  width: 133px;
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}

.btn.light__btn {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.btn.blue__btn {
  background: var(--blue);
  border: none;
  color: var(--withe);
}

.search__btn {
  color: var(--black);
  background: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.rodape {
  background-color: var(--withe);
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  margin-left: 5px;
}
