@media screen and (min-width: 1025px) {
  .products__section {
    height: auto;
    box-sizing: border-box;
    padding-block: 20px;
  }
  .product__container__home {
    background-color: var(--lightgray);
  }

  .btn.blue__btn {
    width: 164px;
    height: 51px;
    font-weight: var(--lightfontweight);
  }

  .product__container {
    display: grid;
    justify-content: space-between;
    width: 1136px;
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }

  .errorDiv {
    width: 1136px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text__product {
    justify-content: space-around;
    margin-top: 30px;
  }
  .products__section {
    height: auto;
    box-sizing: border-box;
    padding-block: 20px;
  }
  .product__container__home {
    background-color: var(--lightgray);
  }

  .btn.blue__btn {
    width: 164px;
    height: 51px;
    font-weight: var(--lightfontweight);
  }

  .product__container {
    display: grid;
    width: 704px;
    margin: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .errorDiv {
    width: 704px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .text__product {
    flex-direction: column;
  }

  .btn.blue__btn {
    width: 164px;
    height: 51px;
    font-weight: var(--lightfontweight);
  }

  .product__container__home {
    height: auto;
    background-color: var(--lightgray);
  }

  .product__container {
    display: grid;
    justify-content: space-between;
    width: 328px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .products {
    height: auto;
  }

  .btn.light__btn {
    font-size: var(--smallfontsize);
  }
}
