@media screen and (min-width: 1025px) {
  .form__input {
    text-align: start;
    height: 550px;
  }

  .login__title {
    text-align: start;
    font-size: var(--largefontsize);
  }

  .btn.blue__btn {
    width: 100%;
    height: 51px;
    font-weight: var(--lightfontweight);
    font-size: var(--normalfontsize);
  }

  .description__product {
    height: 82px;
    padding: 15px;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form__input {
    text-align: start;
    width: 80%;
    height: 550px;
  }

  .login__title {
    text-align: start;
    font-size: var(--largefontsize);
  }

  .btn.blue__btn {
    width: 100%;
    height: 51px;
    font-weight: var(--lightfontweight);
    font-size: var(--normalfontsize);
  }

  .description__product {
    height: 82px;
    padding: 15px;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__input {
    text-align: start;
    width: 90%;
    height: 491px;
  }

  .login__title {
    text-align: start;
    font-size: var(--mediumfontsize);
  }

  .btn.blue__btn {
    width: 100%;
    height: 51px;
    font-weight: var(--lightfontweight);
    font-size: var(--normalfontsize);
  }

  .btn.light__btn.menu__btn {
    width: 166px;
    font-size: var(--smallfontsize);
  }
}

label {
  font-size: var(--smallfontsize);
}
